.category {
  transition: 0.3s;
}
.category:hover {
  cursor: pointer;
  transform: scale(0.99);
}
.image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 10px;
}
.doctors_card {
  border: none;
}
.verified {
  position: relative;
  right: 40px;
  top: 60px;
}
.verified1 {
  position: relative;
  right: 65px;
  top: 60px;
}
.likeBox {
  background-color: green;
  color: white;
}
.white {
  color: white;
  background-color: rgb(0, 183, 255);
  border: none;
  line-height: 16px;
  padding: 5px;
  padding-inline: 10px;
}
.white:hover {
  background-color: rgb(6, 121, 253);
}
